@model IEnumerable<sd207417MIS4200.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Here is the list of students.</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentMajor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.studentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentMajor)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.studentID }, new { @class="glyphicon glyphicon-pencil"}) |
            @Html.ActionLink("Details", "Details", new { id=item.studentID }) |
            @Html.ActionLink(" ", "Delete", new { id=item.studentID }, new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
