@model sd207417MIS4200.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Here are the schedule details.</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.courseSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.courseSection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.studentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.studentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semester)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.scheduleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
