@model IEnumerable<sd207417MIS4200.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2>List of schedules</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.courseSection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.studentFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.semester)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.courseSection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.studentFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semester)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.scheduleID }, new { @class="glyphicon glyphicon-pencil"}) |
            @Html.ActionLink("Details", "Details", new { id=item.scheduleID }) |
            @Html.ActionLink(" ", "Delete", new { id=item.scheduleID }, new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
