@model sd207417MIS4200.Models.Instructor

@{
    ViewBag.Title = "Details";
}

<h2>Here are the details for this instructor.</h2>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.instructorFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructorFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructorDepartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructorDepartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructorPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructorPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instructorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instructorEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.instructorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
