@model IEnumerable<sd207417MIS4200.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Here is the list of existing instructors.</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.instructorFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructorLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructorDepartment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructorPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instructorEmail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.instructorFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructorLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructorDepartment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructorPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instructorEmail)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.instructorID },new { @class="glyphicon glyphicon-pencil"}) |
            @Html.ActionLink("Details", "Details", new { id=item.instructorID }) |
            @Html.ActionLink(" ", "Delete", new { id=item.instructorID }, new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
